body{
    background-size: cover;
    margin: 0 auto;
    background-image: url("../homework3/images/bg.jpg") ;
    background-repeat: no-repeat;
    width: 100%;
}

a{
    text-decoration: none;
    color: #ffffff;
}
.container{
    max-width: 1366px;
    margin: 0 auto;
}

.logo{
    display: inline-block;
}
.housewhite{
    position: relative;
    top: 49px;
    left: 155px;
    z-index: 1;
}
.houseorange{
    position: relative;
    top: 49px;
    left: 105px;
    z-index: -1;
}
.housewhite:hover {
    z-index: -1;
}
.houseorange:hover, .logo:hover a {
    z-index: 1;
    color: #f26522;
}

.header a{
    position: relative;
    top: -8px;
    left: 216px;
    display: block;
    color: #ffffff;
    font-family: Verdana;
    font-weight: 700;
}

.milan{
    font-size: 29px;
}

.holidays{
    font-size: 18px;
}


.contacts{
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    float: right;
    margin-top: 57px;
    margin-right: 147px;
}

.phone{
    float: right;
}

.flex-container {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    position: relative;
}

.tab21{
    transition: 0.7s;
    opacity: 0;
    bottom: 61px;
    width: 311px;
    height: 63px;
    position: absolute;
    background-color: #f26522;
}
.tab21:hover{
    transition: 0.7s;
    opacity: 1;

}
.border{
    border: 2px solid;
    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
}
.pictures {
    border-top: 2px solid white;
    position: relative;
    margin: 35px;
}
.pictures:hover a{
    transition: 0.7s;
    color: #f26522;
}
.pictures:hover .tab21 {
    opacity: 1;
}

.info{
    margin-top: 14px;
    margin-left: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: Verdana;
}
.price{
    font-size: 20px;
}
.from{
    font-size: 10px;
}
.details{
    font-size: 14px;
    position: absolute;
    right: 40px;
    bottom: 15px;
}
.tour{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: Verdana;
}
footer{
    color: #ffffff;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}


